USE [master]
GO
/****** Object:  Database [BD_MyBandTour]    Script Date: 8/16/2025 3:22:48 PM ******/
CREATE DATABASE [BD_MyBandTour]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_MyBandTour', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_MyBandTour.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_MyBandTour_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_MyBandTour_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_MyBandTour].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_MyBandTour]
GO
/****** Object:  User [usu_Concierto]    Script Date: 8/16/2025 3:22:48 PM ******/
CREATE USER [usu_Concierto] FOR LOGIN [usu_Concierto] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usu_Concierto]
GO
/****** Object:  Table [dbo].[ConciertosCR]    Script Date: 8/16/2025 3:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConciertosCR](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Banda] [varchar](50) NOT NULL,
	[Genero] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
	[Lugar] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ConciertosCR] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/16/2025 3:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[pr_Autenticar]    Script Date: 8/16/2025 3:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_Autenticar]

@Usuario varchar(50),
@Password varchar(50),
@Resultado int output

AS
BEGIN

	SET NOCOUNT ON;

	IF EXISTS (SELECT 1 FROM DBO.Usuarios WHERE Usuario = @Usuario AND Password = @Password)
	BEGIN
		SET @Resultado = 1
	END
	ELSE
	BEGIN
		SET @Resultado = 0
	END
END
GO
/****** Object:  StoredProcedure [dbo].[pr_ConsultarConciertos]    Script Date: 8/16/2025 3:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ConsultarConciertos] 

AS
BEGIN

	SET NOCOUNT ON;
    SELECT * FROM dbo.ConciertosCR

END
GO
/****** Object:  StoredProcedure [dbo].[pr_EliminarConcierto]    Script Date: 8/16/2025 3:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_EliminarConcierto]
@Codigo VARCHAR(50),
@Resultado INT OUTPUT

AS
BEGIN

	SET NOCOUNT ON;
	IF EXISTS (SELECT 1 FROM dbo.ConciertosCR WHERE Codigo = @Codigo)
	BEGIN
		DELETE FROM dbo.ConciertosCR WHERE Codigo = @Codigo;
		SET @Resultado = 0; 
	END
	ELSE 
	BEGIN
		SET @Resultado = 1;
	END

END
GO
/****** Object:  StoredProcedure [dbo].[pr_InsertarConciertoCR]    Script Date: 8/16/2025 3:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_InsertarConciertoCR]
    @Codigo VARCHAR(50),
    @Banda VARCHAR(50),
    @Genero VARCHAR(50),
    @Fecha DATE,
    @Hora TIME(7),
    @Pais VARCHAR(50),
    @Lugar VARCHAR(50),
    @Resultado INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;
    INSERT INTO dbo.ConciertosCR(Codigo, Banda, Genero, Fecha, Hora, Pais, Lugar)
    VALUES (@Codigo, @Banda, @Genero, @Fecha, @Hora, @Pais, @Lugar)

    SET @Resultado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[pr_InsertarUsuario]    Script Date: 8/16/2025 3:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_InsertarUsuario]
@Usuario VARCHAR(50),
@Password VARCHAR(50),
@Resultado INT OUTPUT

AS
BEGIN

	SET NOCOUNT ON;
	INSERT INTO dbo.Usuarios(Usuario, Password)
	VALUES (@Usuario, @Password)

	SET @Resultado = 0;

END
GO
/****** Object:  StoredProcedure [dbo].[pr_ModificarConcierto]    Script Date: 8/16/2025 3:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ModificarConcierto]
    @Codigo VARCHAR(50),
    @Banda VARCHAR(50),
    @Genero VARCHAR(50),
    @Fecha DATE,
    @Hora TIME(7),
    @Pais VARCHAR(50),
    @Lugar VARCHAR(50),
    @Resultado INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.ConciertosCR WHERE Codigo = @Codigo)
    BEGIN
    UPDATE dbo.ConciertosCR
    SET Banda = @Banda,
        Genero = @Genero,
        Fecha = @Fecha,
        Hora = @Hora,
        Pais = @Pais,
        Lugar = @Lugar
    WHERE Codigo = @Codigo;

    SET @Resultado = 0;
    END
    ELSE
    BEGIN
        SET @Resultado = 1;
    END

END
GO
USE [master]
GO
