
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divCrear">
    <h4>Crear un concierto: </h4>
    <label>Código:</label>
    <input type="text" id="txtCodigo" name="txtCodigo" placeholder="Ingrese el código:" />
    <br />

    <label>Banda:</label>
    <input type="text" id="txtBanda" name="txtBanda" placeholder="Ingrese la banda:" />
    <br />

    <label>Género:</label>
    <input type="text" id="txtGenero" name="txtGenero" placeholder="Ingrese el género:" />
    <br />

    <label>Fecha del concierto:</label>
    <input type="date" id="txtFecha" name="txtFecha" />
    <br />

    <label>Hora del concierto:</label>
    <input type="time" id="txtHora" name="txtHora" />
    <br />

    <label>País:</label>
    <input type="text" id="txtPais" name="txtPais" placeholder="Ingrese el país:" />
    <br />

    <label>Lugar:</label>
    <input type="text" id="txtLugar" name="txtLugar" placeholder="Ingrese el lugar:" />
    <br />

    <button id="btnCrear" onclick="ProcesarCreacion();">Crear concierto</button>
</div>


