
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-container">
    <!-- Menú lateral -->
    <aside class="dashboard-sidebar">

        <ul>
            <li><a href="@Url.Action("CrearConciertoVista", "Empresa")" class="btn btn-azul">Crear Concierto</a></li>
            <li><a href="@Url.Action("BorrarConciertoVista", "Empresa")" class="btn btn-azul">Borrar Concierto</a></li>
        </ul>
    </aside>

    <!-- Contenido principal -->
    <main class="dashboard-main">
        <h2>Lista de Conciertos</h2>

        <!-- Campo de búsqueda -->
        <input type="text" id="busqueda" placeholder="Buscar banda..." oninput="buscarConciertosTabla()" />

        <table class="dashboard-table">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Código</th>
                    <th>Banda</th>
                    <th>Género</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>País</th>
                    <th>Lugar</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </main>

</div>

<script>
    todosLosConciertos = @Html.Raw(Json.Encode(Model));
    mostrarConciertosTabla(todosLosConciertos);
</script>

