
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container body-content">


    <div class="banner-mybandtour mt-3 mb-4">
        <img src="~/Content/img/banner.png" alt="Banner de eventos musicales" class="img-fluid w-100 rounded">
    </div>

    <h2 class="section-title text-center mb-4">Eventos en tu ciudad</h2>

    <div class="row g-4 justify-content-center">


        <div class="col-md-4 col-lg-3">
            <div class="card h-100 text-center">
                <img src="https://i.imgur.com/HL7Vq6j.jpg" class="card-img-top" alt="Evento 1">
                <div class="card-body">
                    <h5 class="card-title">ANA GABRIEL</h5>
                    <p class="card-text">ALAJUELA</p>
                    <button class="btn btn-info text-white">Ver Eventos</button>
                </div>
            </div>
        </div>

        <!-- 🧱 Card 2 -->
        <div class="col-md-4 col-lg-3">
            <div class="card h-100 text-center">
                <img src="https://i.imgur.com/hS9mA5I.jpg" class="card-img-top" alt="Evento 2">
                <div class="card-body">
                    <h5 class="card-title">BAD BUNNY</h5>
                    <p class="card-text">MATA REDONDA</p>
                    <button class="btn btn-info text-white">Ver Eventos</button>
                </div>
            </div>
        </div>

        <!-- 🧱 Card 3 -->
        <div class="col-md-4 col-lg-3">
            <div class="card h-100 text-center">
                <img src="https://i.imgur.com/qRyXISc.jpg" class="card-img-top" alt="Evento 3">
                <div class="card-body">
                    <h5 class="card-title">COLDPLAY</h5>
                    <p class="card-text">PARQUE VIVA</p>
                    <button class="btn btn-info text-white">Ver Eventos</button>
                </div>
            </div>
        </div>

        <!-- 🧱 Card 4 -->
        <div class="col-md-4 col-lg-3">
            <div class="card h-100 text-center">
                <img src="https://i.imgur.com/FCAsCEH.jpg" class="card-img-top" alt="Evento 4">
                <div class="card-body">
                    <h5 class="card-title">TAYLOR SWIFT</h5>
                    <p class="card-text">SAN JOSÉ</p>
                    <button class="btn btn-info text-white">Ver Eventos</button>
                </div>
            </div>
        </div>

        <!-- 🧱 Card 5 -->
        <div class="col-md-4 col-lg-3">
            <div class="card h-100 text-center">
                <img src="https://i.imgur.com/VdzUgAt.jpg" class="card-img-top" alt="Evento 5">
                <div class="card-body">
                    <h5 class="card-title">LUIS MIGUEL</h5>
                    <p class="card-text">ESTADIO NACIONAL</p>
                    <button class="btn btn-info text-white">Ver Eventos</button>
                </div>
            </div>
        </div>

    </div>
</div>



