
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container body-content">


    <div class="banner-mybandtour mt-3 mb-4">
        <img src="~/Content/img/banner.png" alt="Banner de eventos musicales" class="img-fluid w-100 rounded">
    </div>


    <h2 class="section-title text-center mb-4">Eventos en tu ciudad</h2>

    <div class="row g-4 justify-content-center">


        <br /><br />

        <div class="row" id="contenedorCards">
            <!-- Aquí se cargarán las tarjetas dinámicamente -->
        </div>



