
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-wrapper">

    <div id="divLogin">
        <form>
            <h2>Iniciar Sesión</h2>
            <input type="text" id="txtUsuario" placeholder="Digite su usuario" />
            <input type="password" id="txtPassword" placeholder="Digite su contraseña" />
            <button type="button" onclick="Autenticar();">Ingresar</button>
            <div id="lblMensaje"></div>
            <div class="login-links">
                <span>¿No tienes cuenta?</span>
                <a href="@Url.Action("Registrarse", "Empresa")" class="btn btn-azul">Registrarse</a>
            </div>
            <p class="text-center mt-3">
                <a href="@Url.Action("Inicio", "Empresa")">Volver al Inicio</a>
            </p>
        </form>
    </div>
</div>
