
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLogin">
    <h2>Iniciar Sesión</h2>
    <br />
    <input type="text" id="txtUsuario" placeholder="Digite su usuario " />
    <br />
    <input type="password" id="txtPassword" placeholder="Digite su contraseña " />
    <br />
    <h4 id="lblMensaje"></h4>
    <br />
    <button onclick="Autenticar();">Ingresar</button>
     
</div>

