
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="login-wrapper">
    <div id="divLogin">
        <h2>Iniciar Sesión</h2>
        <input type="text" id="txtUsuario" placeholder="Digite su usuario" />
        <input type="password" id="txtPassword" placeholder="Digite su contraseña" />
        <button onclick="Autenticar();">Ingresar</button>
        <div id="lblMensaje">Usuario o contraseña incorrectos</div>
        <div class="login-links">
            <a href="#">¿Olvidó su usuario?</a>
            <a href="#">¿Olvidó su contraseña?</a>
        </div>
    </div>
</main>